<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojo and ninjas shell mfer</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
    <div id="container">
        <div class="inputbox">
            <h1>Add a Dojo</h1>
            <form action='/create_dojo' method='post'> <!--be sure to change the action route here to i think the index/root -->
            {% csrf_token %}
                Name: <input type='text' name='name'><br><br>
                City: <input type='text' name="city"><br><br>
                State: <input type='text' name="state"><br><br>
                <button type='submit'>Add A Dojo</button>
        </form>
        </div>
    
        <div class="inputbox">
            <h1>Add a Ninja</h1>
            <form action='/create_ninjas' method='post'>
            {% csrf_token %}
                First Name: <input type='text' name='ninjafirstname'><br><br>
                Last Name: <input type='text' name="ninjalastname"><br><br>
                <label for="dojo">Dojo:</label>
                <select name="dojoname" id="dojoname"><br><br>
                    {% for d in all_dojos.all %}
                    <option value= "{{d.id}}">{{d.name}}</option>
                    {% endfor %}
                    <input type='submit'></input>    
                </select>
            </form>    
        </div>
    
        <h1>All the Dojos and their Ninjas</h1>

        <ul>
            {% for x in all_dojos %}
            <li>{{ x.name }} in the City of {{x.city}} , {{x.state}} </li>
            <ul>
                {% for i in x.ninjas_owned.all %}
                    <li>{{ i.first_name }} {{ i.last_name }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    
    
    
    </div>


</body>
</html>